html {
    font-size: 10px;
}

body {
    font-family: var(--font-spartan);
    font-size: var(--fs-body);
    line-height: var(--lh-body);
    color: var(--color-white);
    background-color: var(--color-background);
    background-image: url('content/background-stars.png');
    background-position: top center;
}

.h1 {
    font-family: var(--font-antonio);
    font-weight: var(--fw-h1);
    font-size: var(--fs-h1);
    line-height: var(--lh-h1);
    color: var(--color-white);
    text-transform: uppercase;
}

.h2 {
    font-family: var(--font-antonio);
    font-weight: var(--fw-h2);
    font-size: var(--fs-h2);
    line-height: var(--lh-h2);
    letter-spacing: var(--ls-h2);
    color: var(--color-white);
    text-transform: uppercase;
}

.h3 {
    font-family: var(--font-spartan);
    font-weight: var(--fw-h3);
    font-size: var(--fs-h3);
    line-height: var(--lh-h3);
    letter-spacing: var(--ls-h3);
    color: var(--color-white);
    text-transform: uppercase;
}

.h4 {
    font-family: var(--font-spartan);
    font-weight: var(--fw-h4);
    font-size: var(--fs-h4);
    line-height: var(--lh-h4);
    letter-spacing: var(--ls-h4);
    color: var(--color-white);
    text-transform: uppercase;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem 0 3.3rem;
    border-bottom: 1px solid var(--color-dark-grey);
}

.nav__list {
    display: flex;
    gap: 3.3rem;
}

.nav__link {
    color: var(--color-white);
    opacity: 0.75;
    display: flex;
    align-items: center;
    height: 8.5rem;
    border-top: 4px solid transparent;
}

.nav__link:hover {
    opacity: 1;
}
.nav__link--mercury:hover {
    border-top-color: var(--color-mercury);
}
.nav__link--venus:hover {
    border-top-color: var(--color-venus);
}
.nav__link--earth:hover {
    border-top-color: var(--color-earth);
}
.nav__link--mars:hover {
    border-top-color: var(--color-mars);
}
.nav__link--jupiter:hover {
    border-top-color: var(--color-jupiter);
}
.nav__link--saturn:hover {
    border-top-color: var(--color-saturn);
}
.nav__link--uranus:hover {
    border-top-color: var(--color-uranus);
}
.nav__link--neptune:hover {
    border-top-color: var(--color-neptune);
}

.nav__checkbox,
.nav__toggle {
    display: none;
}

.btn {
    display: flex;
    align-items: center;
    gap: 2.8rem;
    height: 4.8rem;
    width: 35rem;
    padding: 0 2.8rem;
    border: 1px solid var(--color-dark-grey);
    background: transparent;
    cursor: pointer;
}
.btn__number {
    opacity: 0.5;
}

.btn--active.btn--mercury {
    background-color: var(--color-mercury);
    border: var(--color-mercury);
}

.btn:hover {
    background-color: var(--color-dark-grey);
}

.planet__description {
    width: 35rem;
}

.planet__paragraph {
    margin-top: 2.3rem;
}

.planet__link {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    margin-top: 2.4rem;
    color: var(--color-grey);
    text-decoration: none;
}

.planet__wikipedia {
    text-decoration: underline;
}

.planet__source__button {
    margin-left: 0.8rem;
}

.planet__buttons {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-top: 4rem;
}

.planet__tab-mobile {
    display: none;
}

.planet-img {
    width: 29rem;
    height: 29rem;
}

.planet-img__internal--mercury {
    position: absolute;
    width: 13.9rem;
    height: 27.8rem;
    top: 33.4rem;
    left: 48.1rem;
}

.planet-img__surface--mercury {
    position: absolute;
    width: 16.9rem;
    height: 19.9rem;
    top: 55.4rem;
    left: 39.9rem;
}

.planet__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 16.5rem;
    margin-top: 12.6rem;
    flex-wrap: wrap;
}

.planet__stats {
    display: flex;
    gap: 3rem;
    width: 100%;
    margin-top: 8.7rem;
}

.planet__stat {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.4rem;
    padding: 2rem 2.3rem 2.7rem;
    border: 1px solid var(--color-dark-grey);
}

.planet__stats-label {
    opacity: 0.5;
}

.planet-img--surface {
    height: auto;
    margin-bottom: -13.5rem;
}

.nav__link--active {
    opacity: 1;
}

@media (min-width: 768px) and (max-width: 1279px) {
    header {
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        height: 15.9rem;
        padding: 0;
    }

    .nav__link {
        height: auto;
        border-top: none;
    }
    
    .planet__description {
        display: flex;
        align-items: center;
        width: auto;
        gap: 10rem;
        margin-top: 13rem;
    }

    .planet__paragraph {
        width: 34rem;
    }

    .planet__buttons {
        width: 28rem;
        margin: 0;
    }

    .planet__buttons .btn {
        width: 100%;
    }

    .planet__link {
        margin-top: 3.2rem;
    }

    .planet-img {
        width: 18.4rem;
        height: 18.4rem;
    }

    .planet__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 14.6rem;
        justify-content: space-around;
        flex-wrap: nowrap;
        margin-inline: 2rem;
    }

    .planet__stats {
        gap: 1.1rem;
        margin-top: 2.7rem;
    }

    .planet__stat {
        gap: 0.6rem;
        padding: 1.6rem 1.5rem 1.9rem;
    }

    .planet-img--surface {
        height: auto;
        margin-bottom: -8.6rem;
    }
}

@media (max-width: 767px) {
    header {
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        height: auto;
        padding: 1.6rem 2.4rem;
    }

    .site__logo {
        font-size: 2.8rem;
    }

    .nav__toggle {
        display: block;
        cursor: pointer;
    }

    .nav__list {
        display: none;
    }

    .nav__link {
        font-size: 1.5rem;
    }

    .nav__checkbox:checked ~ .nav__list {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        gap: 0;
        padding: 2.4rem 2.4rem 0;
        background-color: var(--color-background);
        z-index: 2;
        min-height: 100vh;
    }

    .nav__checkbox:checked ~ .nav__toggle {
        opacity: 0.5;
    }

    .nav__link {
        gap: 2.4rem;
        padding: 2rem 0;
        border-bottom: 1px solid var(--color-dark-grey);
        opacity: 1;
    }

    .nav__link::before {
        content: '';
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
    }

    .nav__link--mercury::before {
        background-color: var(--color-mercury);
    }

    .nav__link--venus::before {
        background-color: var(--color-venus);
    }

    .nav__link--earth::before {
        background-color: var(--color-earth);
    }

    .nav__link--mars::before {
        background-color: var(--color-mars);
    }

    .nav__link--jupiter::before {
        background-color: var(--color-jupiter);
    }

    .nav__link--saturn::before {
        background-color: var(--color-saturn);
    }
    .nav__link--uranus::before {
        background-color: var(--color-uranus);
    }

    .nav__link--neptune::before {
        background-color: var(--color-neptune);
    }

    .nav__link::after {
        content: '';
        width: 0.4rem;
        height: 0.8rem;
        margin: 0 0.8rem 0 auto;
        background: url('content/mobile-arrow.svg') no-repeat center;
    }

    .nav__list li:last-child .nav__link {
        border-bottom: none;
    }

    .nav__link {
        border-top: none;
    }

    .planet__buttons {
        position: absolute;
        top: 8.5rem;
        left: 0;
        z-index: 1;
        flex-direction: row;
        gap: 0;
        padding-inline: 2.4rem;
        border-bottom: 1px solid var(--color-dark-grey);
        width: 100%;
        margin: 0;
    }

    .planet__buttons .btn {
        justify-content: center;
        flex: 1;
        width: auto;
        height: 5rem;
        padding: 0;
        border: 0;
        border-bottom: 4px solid transparent;
    }

    .planet__buttons .btn--active {
        border-bottom-color: var(--color-mercury);
        background: transparent;
    }

    .planet__tab-mobile {
        display: block;
    }

    .btn__number,
    .planet__tab-desktop {
        display: none;
    }

    .planet__info {
        display: flex;
        width: auto;
        flex-direction: column;
        align-items: center;
    }

    .planet__title {
        font-size: var(--fs-h2);
        line-height: var(--lh-h2);
    }

    .planet__paragraph {
        margin-top: 1.6rem;
        text-align: center;
    }

    .planet__description {
        width: auto;
        margin-top: 10rem;
    }

    .planet__wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        margin: 14.6rem 2.4rem 0 2.4rem;
    }

    .planet__stats {
        flex-direction: column;
        gap: 0.8rem;
        margin-top: 2.8rem;
    }

    .planet__stat {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0.9rem 2.4rem 1.3rem;
    }

    .planet-img {
        width: 11.1rem;
        height: 11.1rem;
    }

    .planet-img--surface {
        height: auto;
        margin-bottom: -5.2rem;
    }
}
