:root {
    --color-white: #ffffff;
    --color-background: #070724;
    --color-dark-grey: #38384f;
    --color-grey: #838391;
    --color-venus: #419ebb;
    --color-mercury: #eda249;
    --color-earth: #6f2ed6;
    --color-mars: #d14c32;
    --color-jupiter: #d83a34;
    --color-saturn: #cd5120;
    --color-uranus: #1ec2a4;
    --color-neptune: #2d68f0;

    --font-antonio: Antonio, sans-serif;
    --font-spartan: League Spartan, sans-serif;

    --fw-h1: 500;
    --fw-h2: 500;
    --fw-h3: 700;
    --fw-h4: 700;

    --fs-h1: 5rem;
    --fs-h2: 2.5rem;
    --fs-h3: 0.75rem;
    --fs-h4: 0.688rem;
    --fs-body: 0.875rem;

    --lh-h1: 6.438rem;
    --lh-h2: 3.25rem;
    --lh-h3: 1.563rem;
    --lh-h4: 1.563rem;
    --lh-body: 1.563rem;

    --ls-h2: -0.094rem;
    --ls-h3: +0.163rem;
    --ls-h4: 0.063rem;
}
